@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.page-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header */
.page-header {
  position: relative;
}
.link-main-page {
  position: absolute;
  margin: 0 0 0 70px;
}
.navigation {
  display: flex;
  margin: 0 auto;

}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 0 210px;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-item-current {
border-bottom: 1px solid #000000;
}
.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 78px 0 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  align-items: center;

}

.navigation-link {
  display: block;
  padding: 20px 22px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
  text-align: center;
}

.navigation-userlink {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
  text-align: center;
}

.userlink-button {
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  border-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 9px 35px;
}

.favourite-number {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  text-align: Center;
  text-decoration: none;
}

/*Main-page*/
.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
}

.welcome {
  background-color: #7c97a8;
  background-image: url("../images/main/welcome-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

/*
.welcome-img::after {
  background-image: url("../images/main/divider.svg");
}
*/

/*city-advantages*/
.city-advantages {
  margin-bottom: 70px;
  padding-top: 69px;
}

.city-advantages-title {
  padding: 0;
  width: 171px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 105px auto 60px;
}

.main-city-advantages-title {
  font-size: 30px;
  line-height: 36px;
  width: 646px;
  margin: 0 auto 25px;
}

.city-advantages-advantages {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0 0 90px 0;
}

.city-advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.white-city-advantages-title {
  color: #FFFFFF;
}


.city-advantages-item-city,
.city-advantages-item-bridge {
  background-color: #82B3D3;
}

.city-advantages-item-square,
.city-advantages-item-tourists {
  background-color: #83B3D31F;
}

.city-advantages-item-road {
  background-color: #83B3D333;
}

.city-advantages-item-city {
  display: flex;
  justify-content: space-between;
}

.city-advantages-item-bridge {
  display: flex;
  justify-content: space-between;
}



.city-advantages-titledescription {
  order: 1;
}

.city-advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin: 0 85px 108px 85px;
  width: 230px;
  padding: 0;
}

.city-advantages-description-white {
  color: #FFFFFF;
}

/*hotel-advantages*/

.hotel-advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}



.hotel-advantages-minititle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 110px 0 30px 0;
}

.main-hotel-advantages-title {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  width: 505px;
  padding: 0;
  margin: 0 auto 11px;
}

.hotel-advantages-advantages {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0 0 70px 0;
}

.hotel-advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin: 0 85px 80px 85px;
  width: 230px;
}

.hotel-advantages-item-housing {
  background-color: #83B3D31F;
  width: 400px;
}
.hotel-advantages-item-housing-img {
  background-image: url("../images/main/housing.svg");
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center 0;
}

.hotel-advantages-item-food {
  width: 400px;
}
.hotel-advantages-item-food-img {
  background-image: url("../images/main/food.svg");
  width: 74px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center 0;
}
.hotel-advantages-item-present {
  background-color: #83B3D31F;
  width: 400px;
}
.hotel-advantages-item-present-img {
  background-image: url("../images/main/present.svg");
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center 0;
}

/*searching*/
.searching {
  width: 592px;
  text-align: center;
  margin: 100px auto;
}

.searching-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 95px 0 20px 0;
  padding: 0;
  width: 592px;
}

.searching-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0 auto 59px;
  padding: 0;
  width: 592px;
}

/* Buttons */
.navigation-userlink {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.searching-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.brown-button {
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  border-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

/* Catalog */

/* Catalog-header */
.catalog-header {
  width: 1200px;
  color: #FFFFFF;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
}

.filter {
  width: 1060px;
  padding: 37px 0 21px 68px;
}

.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  margin: 4px 0 0 2px;
  padding: 0;
}

.breadcrumbs-item-main {
  background-image: url("../images/catalog/main-icon.svg");
  width: 12px;
  height: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

/*product-list*/

.catalog-filter {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  margin: 17px 0 57px 67px;
  padding: 0 0 71px 0;
}

.catalog-filter-infrastructure {
  width: 155px;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-housingtype {
  width: 155px;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 16px 0;
}

.catalog-filter-pricetitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 32px 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item {
  margin: 0;
  padding: 16px 0 0 0;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-price {
  width: 226px;
  border: none;
  margin: 0;
  padding: 0;
}

.input-container {
  display: flex;
}

.catalog-filter-pricerange {
  width: 113px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 36px 0;
  padding: 8px 0 8px 20px;
}

.catalog-filter-button {
  margin: 56px 0 0 0;
  padding: 0;
  width: 191px;
  border: none;
}

/*housing-list*/
.housing-list {
  width: 1060px;
  margin: 55px 0 0 20px;
  padding: 0;
}

.housing-list-sorting {
  display: flex;
  justify-content: space-around;
  margin: 0 0 34px 0;
  padding: 0;
}

.housing-list-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: 0;
}

.select-control {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  margin: 0;
  padding: 0;
}


.viewcards-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.viewcards-item {
  width: 48px;
  height: 48px;
}
/*Здесь будут иконки для viewcards-item*/

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 80px 40px;
  padding: 0;
  list-style-type: none;
  width: 1060px;
}

.product-card {
  box-sizing:border-box;
  width: 340px;
  margin: 0 20px 20px 0;
  padding: 20px;
  background-color: #E6E6E6;
}

.product-card:nth-child(3n) {
  margin: 0;
}

.housingtype-price, .housingtype-button, .housingtype-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 16px 0;
  padding: 0;
  width: 300px;
}

.product-card-link {
  text-decoration: none;
  width: 300px;
}

.product-card-image {
  display: block;
  margin: 0 auto;
}

.product-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 16px 0 16px 0;
  padding: 0;
}

.product-card-housingtype {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-card-price {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-card-rating {
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.button-add {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding: 8px 50px;
  margin-bottom: 32px;
}

.button-delete {
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding: 8px 50px;
  background-color: rgba(28,28,28,0);
  border: rgba(28,28,28,0);
}

.button {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.button-additional {
  background-color: #756157;
  padding: 8px 25px;
  border-radius: 4px;
}

.button-favourite {
  background-color: #82B3D3;
  padding: 8px 25px;
  border-radius: 4px;
}

.selected {
  background-color: #7DB54F;
  padding: 8px 25px;
  border-radius: 4px;
}

/* Pages*/
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  width: 400px;
  list-style-type: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 10px 20px;
  margin-right: 8px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}


/* Footer */
.page-footer {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;
}

.footer-subscription-image {
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 415px;
}

.footer-subscription {
  width: 1200px;
  padding-top: 95px;
}

/* Form */
.footer-subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 5px auto;
  width: 475px;
}

.footer-subscription-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 18px auto 51px;
  width: 475px;
}

.footer-subscription-title-white,
.footer-subscription-description-white {
  color: #FFFFFF;
}

.footer-subscription-form {
  width: 800px;
  margin: 0 auto;
}
.field {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width: 452px;
  height: 52px;
  margin: 0;
}

.footer-subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  margin: 0;
}

.blue-button {
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  border-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

/* Social link */
.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1060px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 142px;
  list-style-type: none;
}

.footer-social-item-vk {
  background-image: url("../images/social-icon/vk.svg");
  width: 24px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: 0 center;
  padding: 13px 11px;
}

.footer-social-item-telegram {
  background-image: url("../images/social-icon/telegram.svg");
  width: 18px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 0 center;
  padding: 13px 11px;
}

.footer-social-item-youtube {
  background-image: url("../images/social-icon/youtube.svg");
  width: 22px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: 0 center;
  padding: 13px 11px;
}

.footer-company-phone {
  color: inherit;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  width: 720px;
}

.htmlacademy-link {
  width: 115px;
}

/* Catalog footer*/
.footer-subscription-title-black,
.footer-subscription-description-black {
  color: #000000;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
