@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 1256px;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  background-color: #f2f2f2;
}

.page-container {
  background-color: #fff;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header */
.page-header {
  position: relative;
}

.link-main-page {
  position: absolute;
  margin: 0 0 0 70px;
}

.link-main-page:focus {
  outline-color: #81B3D3;
}

.navigation {
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
}

/* Navigation */
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 238px;
  padding: 0;
  list-style-type: none;
  align-items: center;
  width: 380px;
}

.navigation-item-current {
  position: relative;
}

.navigation-item-current::after {
  content: "";
  height: 1px;
  width: calc(100% - 36px);
  border-bottom: 2px solid #756257;
  position: absolute;
  bottom: -1px;
  left: 18px;
}


/* User navigation */
.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0 69px 0 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  align-items: center;
  max-width: 280px;
}

.navigation-link {
  display: block;
  padding: 19px 16px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.navigation-link:hover {
  color: #68A2CA;
}

.navigation-link:focus {
  outline-color: #81B3D3;
}

.navigation-link:active {
  color: #7c97a8;
}

.navigation-user .navigation-userlink {
  min-width: 18px;
  min-height: 18px;
}

.navigation-userlink {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 19px 13px;
  margin-right: 0;
}

.navigation-userlink:focus {
  outline-color: #81B3D3;
}

.navigation-userlink-searching {
  background-image: url("../images/search.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 0;
}

.navigation-userlink-favourite {
  position: relative;
  background-image: url("../images/favourite.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 20px;
}

.navigation-userlink:hover  {
  background-color: rgb(104 162 202 / 30%);
}

.navigation-userlink:focus {
  background-color: rgb(104 162 202 / 30%);
  outline: none;
}

.navigation-userlink:active  {
  background-color: #a3cbe6;
}

.favourite-number {
  position: absolute;
  top: 7px;
  right: 3px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  background: #7DB54F;
  border-radius: 50%;
  padding: 5px;
  min-width: 10px;
  max-width: 25px;
  max-height: 25px;
  box-sizing: border-box;
}

.navigation-userlink-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #fff;
  background-color: #756157;
  border-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 34px;
  margin-top: 13px;
  margin-bottom: 13px;
  max-width: 165px;
  box-sizing: border-box;
  cursor: pointer;
}

.navigation-userlink-button:hover {
  background-color: #615048;
  border-color: #615048;
}

.navigation-userlink-button:focus {
  background-color: #615048;
  border-color: #615048;
  outline: none;
}

.navigation-userlink-button:active {
  color: rgb(255 255 255 / 30%);
}


/* Main-page */
.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000;
  background-color: #FFF;
}

/* Welcome section */
.welcome {
  background-color: #7c97a8;
  background-image: url("../images/main/divider.svg"), url("../images/main/welcome-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat no-repeat;
  background-position: center bottom, center;
  padding-top: 51px;
  padding-bottom: 83px;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

/* City advantages section */
.main-advantages-container {
  width: 655px;
  padding: 71px 0 90px;
  margin: 0 auto;
}

.main-advantages-title {
  padding: 0;
  margin: 0 0 25px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.main-advantages-city {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  text-align: center;
}

.advantages-item-container-img {
  width: 230px;
  min-height: 200px;
  padding: 86px 85px;
  text-align: center;
}

.advantages-item-container {
  width: 230px;
  min-height: 200px;
  padding: 92px 85px;
  text-align: center;
}

.advantages-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  text-transform: uppercase;
  margin: 21px auto;
  padding: 0;
  width: 172px;
}

.advantages-title::after {
  position: absolute;
  bottom: -32px;
  left: 56px;
  width: 60px;
  height: 2px;
  background-color: rgb(0 0 0 / 30%);
  content: "";
}

.white-advantages-title::after {
  position: absolute;
  bottom: -21px;
  left: 56px;
  width: 60px;
  height: 2px;
  background-color: #FFF;
  content: "";
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 43px 0 0;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item-city {
  display: flex;
}

.advantages-item-bridge {
  display: flex;
  flex-direction: row-reverse;
}

.advantages-item-city,
.advantages-item-bridge {
  background-color: #82B3D3;
}

.advantages-item-square,
.advantages-item-tourists {
  background-color: #83B3D31F;
}

.advantages-item-road {
  background-color: #83B3D333;
}

.advantages-description-white,
.white-advantages-title {
  color: #FFF;
}

.advantages-nature {
  height: 100%;
  width: 800px;
  overflow: hidden;
}

.nature {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
  object-fit: contain;
}

/* Hotel advantages section */
.hotel-advantages-container {
  width: 505px;
  padding: 67px 0;
  margin: 0 auto;
}

.main-hotel-advantages-title {
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  padding: 0;
  margin: 0 0 20px;
}

.hotel-advantages-advantages {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  text-align: center;
  padding: 0;
  margin: 0;
}

.hotel-advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-advantages-item {
  width: 230px;
  padding: 81px 85px;
  margin: 0 auto;
  text-align: center;
  min-height: 200px;
}

.hotel-advantages-minititle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  padding: 98px 0 31px;
  margin: 0;
}

.hotel-advantages-description {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.hotel-advantages-housing,
.hotel-advantages-food,
.hotel-advantages-gift {
  position: relative;
}

.hotel-advantages-housing::before {
  position: absolute;
  top: -2px;
  left: 78px;
  content: url("../images/main/housing.svg");
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center 0;
  margin: 0 auto;
  padding: 0;
}

.hotel-advantages-food::before {
  position: absolute;
  top: -3px;
  left: 80px;
  content:  url("../images/main/food.svg");
  width: 74px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center 0;
  margin: 0 auto;
  padding: 0;
}

.hotel-advantages-gift::before {
  position: absolute;
  top: -6px;
  left: 84px;
  content:  url("../images/main/present.svg");
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center 0;
  margin: 0 auto;
  padding: 0;
}

.housing,
.gift {
  background-color: #83B3D31F;
}

/* Searching */
.search {
  padding-top: 67px;
  padding-bottom: 87px;
}

.search-container {
  width: 592px;
  text-align: center;
  margin: 0 auto;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 29px 0 20px;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  text-align: center;
  margin: 0 auto 52px;
  padding: 0;
}

.search-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  margin-bottom: 10px;
  font-family: inherit;
  text-align: center;
  color: #fff;
  background-color: #756157;
  border-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  width: 376px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
}

.search-link:hover {
  background-color: #615048;
  border-color: #615048;
}

.search-link:focus {
  background-color: #615048;
  border-color: #615048;
  outline: none;
}

.search-link:active {
  color: rgb(255 255 255 / 30%);
}


/* Catalog */

/* Inner navigation */
.catalog-header {
  width: 1200px;
  color: #FFF;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  margin: 0 auto;
}

.filter {
  width: 1060px;
  padding: 37px 0 22px 70px;
}

.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin:  0 0 8px;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link-main {
  display: block;
  background-image: url("../images/catalog/main-icon.svg");
  width: 12px;
  height: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs-item {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
  margin-right: 26px;
}

.breadcrumbs-link-main::after {
  position: absolute;
  bottom: 6px;
  left: 25px;
  width: 6px;
  height: 9px;
  background-image: url("../images/catalog/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.breadcrumbs-link {
  color: #FFF;
  cursor: pointer;
  padding: 0 3px 6px 0;
}

.breadcrumbs-link:hover {
  color: rgb(255 255 255 / 60%);
}

.breadcrumbs-link:focus {
  color: #FFF;
  outline: none;
}

.breadcrumbs-link:active {
  color: rgb(255 255 255 / 30%);
}

/* Фильтрация */
.catalog-filter {
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
  margin: 18px 0 50px 68px;
  padding: 0 0 55px;
}

.catalog-filter-infrastructure {
  width: 155px;
  margin: 0 65px 20px 0;
  padding: 0;
  border: none;
}

.catalog-filter-housingtype {
  width: 155px;
  margin: 0 136px 20px 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px;
}

.catalog-filter-pricetitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 33px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item {
  padding: 0;
  margin: 14px 0 0;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 20px;
  height: 20px;
}

.control {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  cursor: pointer;
}

.control-label {
  margin: 0 0 0 37px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid #FFF;
  border-radius: 22%;
  background-color: #fff;
}

/* текст тоже должен меняться */
.control:hover .control-mark {
  color: rgb(0 0 0 / 30%);
  background-color: rgb(0 0 0 / 30%);
  border: 1px solid rgb(0 0 0 / 30%);
  border-radius: 22%;
}

.control:focus .control-mark {
  color: #FFF;
  border: 4px solid #68A2CA;
  border-radius: 22%;
  background-color: #fff;
  outline-color: #68A2CA;
}

.control:active .control-mark {
  color: rgb(0 0 0 / 30%);
  background-color: rgb(0 0 0 / 30%);
  border: 1px solid rgb(0 0 0 / 30%);
  border-radius: 22%;
}

.control-input:disabled + .control-mark {
  color: rgb(0 0 0 / 30%);
  background-color: rgb(0 0 0 / 30%);
  border: 1px solid rgb(0 0 0 / 30%);
  border-radius: 22%;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 12px;
  height: 10px;
  background-image: url("../images/catalog/daw.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.catalog-filter-price {
  width: 226px;
  border: none;
  margin: 0 64px 0 0;
  padding: 0;
}

.input-container {
  display: flex;
}

.input-containerlabel {
  position: relative;
}

.catalog-filter-pricetext {
  position: absolute;
  right: 23px;
  top: 12px;
  color: #000;
  opacity: 0.3;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.catalog-filter-pricerange {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 44px;
  padding: 11px 0 11px 20px;
  width: 122px;
  cursor: pointer;
}

.catalog-filter-pricerange::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  padding-right: 12px;
}

.catalog-filter-pricerange:hover {
  color: #000;
}

.catalog-filter-pricerange:focus {
  outline-color: #83B3D3;
}

/* Текст введён, курсор внутри поля
.catalog-filter-pricerange:not(:placeholder-shown) {
  border: 2px solid #000000;
}
*/

.range-block {
  margin: 0 0 0 11px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #888;
}

.range {
  position: absolute;
  height: 4px;
  margin-bottom: 16px;
  background-color: #FFF;
}

.range-button {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFF;
  border: 5px solid #FFF;
  border-radius: 22%;
  cursor: pointer;
}

.button-min {
  top: -8px;
  left: -10px;
}

.button-max {
  top: -8px;
  right: -10px;
}

.catalog-filter-button {
  margin: 56px 0 0;
  padding: 0;
  width: 191px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

/* Housing list section */
.catalog-right-column {
  margin: 0 0 0 70px;
  padding: 0;
}

.housing-list {
  width: 1060px;
  margin: 0 0 83px;
  padding: 0;
}

.housing-list-sorting {
  display: flex;
  margin: 0 0 38px;
  padding: 0;
}

.housing-list-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
  text-align: left;
  margin: 0 199px 0 0;
  padding: 7px 0 0;
}

.housing-list-viewfilter {
  display: flex;
  margin: 0;
  padding: 0;
}

.select-control {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  background-image: url("../images/catalog/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 292px;
  margin: 0 73px 0 0;
  padding: 13px 40px 13px 20px;
  cursor: pointer;
  appearance: none;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  border: 2px solid #3F5E72;
  outline: none;
}

.select-control:disabled {
  color: rgb(0 0 0 / 30%);
  border: 2px solid rgb(0 0 0 / 30%);
}

.select-option {
  display: flex;
  flex-wrap: wrap;
  width: 292px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.viewcards-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.viewcards-item {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-right: 6px;
}

.viewcards-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  padding: 14px;
  cursor: pointer;
}

.viewcards-item:hover {
  border: 2px solid #000;
  border-radius: 4px;
}

.viewcards-item:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
  outline: none;
}

.viewcards-item:active {
  border: 2px solid #000;
  border-radius: 4px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  width: 1060px;
}

.product-card {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  border: 1px solid #E6E6E6;
}

.housingtype-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px;
  padding: 0;
  width: 300px;
  box-sizing: border-box;
}

.housingtype-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1px;
  padding: 0;
  width: 300px;
  box-sizing: border-box;
}

.housingtype-rating {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin: -11px 0 -16px;
  padding: 0;
  width: 300px;
}

.stars {
  height: 17px;
  background: url("../images/catalog/star.svg") space 0 0;
}

.stars-one {
  width: 18px;
}

.stars-two {
  width: 42px;
}

.stars-three {
  width: 66px;
}

.stars-four {
  width: 89px;
}

.stars-one {
  width: 18px;
}

.product-card-link {
  text-decoration: none;
  width: 300px;
  cursor: pointer;
}

.product-card-link:focus {
  outline-color: #81B3D3;
}

.product-card-image {
  display: block;
  margin: 0 auto;
}

.product-card-title {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 16px 0;
  padding: 0;
}

.product-card-title:hover  {
  color: #a3cbe6;
}

.product-card-title:focus {
  color: #a3cbe6;
  outline: none;
}

.product-card-title:active  {
  color: rgb(104 162 202 / 30%);
}


.product-card-housingtype {
  color: #333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-card-price {
  color: #333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-card-rating {
  display: inline-block;
  color: #333;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 22px;
}

.product-card-image {
  object-fit: contain;
}

/* Catalog button */
.button-add {
  font-family: inherit;
  text-align: center;
  color: #fff;
  background-color: #82B3D3;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 51px;
  margin-bottom: 32px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
}

.button-add:hover {
  background-color: #68A2CA;
}

.button-add:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-add:active {
  color: rgb(255 255 255 / 30%);
}

.button-add:disabled {
  background-color: #E5E5E5;
  border-color: #E5E5E5;
}

.button-delete {
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  padding: 8px 54px;
  margin-bottom: 10px;
  background-color: rgb(28 28 28 / 0%);
  border: rgb(28 28 28 / 0%);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
}

.button-delete:hover {
  border: none;
  color: #FFF;
  opacity: 0.1;
}

.button-delete:focus {
  border: 3px solid #83B3D3;
  outline: none;
}

.button-delete:active {
  border: none;
  color: rgb(255 255 255 / 30%);
}

.button-delete:disabled {
  border: none;
  color: #FFF;
  opacity: 0.1;
}

.button-additional {
  text-transform: uppercase;
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: #756157;
  padding: 8px 26px;
  border-radius: 4px;
  max-width: 140px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 16px;
}

.button-additional:hover {
  background-color: #615048;
  border-color: #615048;
}

.button-additional:focus {
  background-color: #615048;
  border-color: #615048;
  outline: none;
}

.button-additional:active {
  color: rgb(255 255 255 / 30%);
}

.button-favourite {
  text-transform: uppercase;
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: #82B3D3;
  padding: 8px 20px;
  border-radius: 4px;
  max-width: 152px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 16px;
}

.button-favourite:hover {
  background-color: #68A2CA;
}

.button-favourite:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-favourite:active {
  color: rgb(255 255 255 / 30%);
}

.selected {
  background-color: #7DB54F;
  padding: 8px 18px;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 16px;
}

.selected:hover {
  background-color: #6C9E42;
}

.selected:focus {
  background-color: #6C9E42;
  outline: none;
}

.selected:active {
  color: rgb(255 255 255 / 30%);
}

/* Pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 59px;
  padding: 0;
  width: 1060px;
  list-style-type: none;
}

.pagination-link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFF;
  background-color: #82B3D3;
  border-color: #82B3D3;
  border-radius: 4px;
  padding: 11px 19px;
  margin-right: 8px;
  cursor: pointer;
  min-height: 60px;
  min-width: 60px;
  box-sizing: border-box;
  text-align: center;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
  border-color: #68A2CA;
  outline: none;
}

.pagination-link:active {
  background-color: #82B3D3;
  border-color: #82B3D3;
  outline: none;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  padding: 11px 23px;
  margin-right: 8px;
  color: #000;
  background-color: #F2F2F2;
  display: inline-block;
  min-height: 60px;
  min-width: 60px;
  box-sizing: border-box;
  text-align: center;
}


/* Footer */
.page-footer {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
}

/* Subscription */
.footer-subscription-image {
  background-color: #376e9e;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-subscription {
  padding-top: 97px;
  text-align: center;
  padding-bottom: 94px;
}

.footer-subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 475px;
  margin: 0 auto;
}

.footer-subscription-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 475px;
  margin: 20px auto 55px;
}

.footer-subscription-title-white,
.footer-subscription-description-white {
  color: #FFF;
}

.footer-subscription-form {
  display: flex;
  flex-wrap: wrap;
  width: 687px;
  margin: 0 auto;
}

.field {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  width: 431px;
  margin-bottom: 10px;
  padding: 14px 0 14px 20px;
  border: none;
}

.footer-subscription-button {
  text-align: center;
  color: #fff;
  background-color: #82B3D3;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 36px;
  padding: 8px 50px;
  margin-right: 4px;
  margin-bottom: 10px;
  width: 232px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
}

.footer-subscription-button:hover {
  background-color: #68A2CA;
}

.footer-subscription-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.footer-subscription-button:active {
  color: rgb(255 255 255 / 30%);
}

/* Social */
.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1060px;
  padding: 45px 0 35px;
}

.footer-social-item {
  margin: 0;
  padding: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 160px;
  list-style-type: none;
}

.footer-social-link {
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px 24px;
  margin: 0;
  cursor: pointer;
}

.footer-social-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-link:hover .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:focus .footer-social-icon {
  fill: #68A2CA;
  outline: none;
}

.footer-social-link:active .footer-social-icon {
  fill: rgb(104 162 202 / 30%);
}

.footer-company-phones {
  display: flex;
  flex-flow: column wrap;
  margin: 0 16px 0 0;
}

.footer-company-phone {
  color: #000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  width: 720px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.footer-company-phone:hover {
  color: #756157;
}

.footer-company-phone:focus {
  color: #756157;
  outline: none;
}

.footer-company-phone:active {
  color: rgb(117 97 87 / 30%);
}

.htmlacademy-link {
  width: 115px;
  height: 33px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.htmlacademy-icon {
  fill: #000;
}

.htmlacademy-icon:hover {
  fill: #756157;
}

.htmlacademy-icon:focus {
  fill: #756157;
  outline: none;
}

.htmlacademy-icon:active {
  fill: rgb(117 97 87 / 30%);
}

/* Catalog footer */
.footer-subscription-title-black,
.footer-subscription-description-black {
  color: #000;
}



/* Hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(242 242 242 / 80%);
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #FFF;
  box-sizing: border-box;
  width: 717px;
  box-shadow: 0 25px 50px rgb(0 0 0 / 15%);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 26px;
  top: 65px;
  right: 53px;
  width: 14px;
  height: 14px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border-color: #F2F2F2;
  cursor: pointer;
  border: none;
}

.modal-close-buttonsvg {
  position: absolute;
  top: 19px;
  right: 19px;
  fill:#000;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active .modal-close-buttonsvg  {
  fill:#000;
  opacity: 0.3;
}

.modal-title {
  margin: 0 0 64px;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.modal-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 577px;
  margin: 0;
  box-sizing: border-box;
}


.field-groupin {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.field-groupout {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

.modal-label {
  margin: 13px 10px 0 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  width: 125px;
  display: block;
}

.modal-field-error {
  margin-left: 21px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  width: 280px;
}

.error-red {
  color: #FF5757;
}

.error-black {
  color: #000;
}

.modal-field-container {
  width: 440px;
  margin-bottom: 23px;
}

.modal-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 440px;
  margin: 0;
  padding: 12px 0 12px 20px;
  border: none;
  box-sizing: border-box;
  background-color: #F2F2F2;
  background-image: url("../images/main/date.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  cursor: pointer;
  height: 48px;
}

.modal-field:hover, .modal-square:hover {
  color: #000;
  background-color: #E6E6E6;
}

.modal-field:focus, .modal-square:focus {
  outline-color: #83B3D3;
}

/* Текст введён, курсор внутри поля */
/* .modal-field:not(:placeholder-shown), .modal-square:not(:placeholder-shown) {
  border: 2px solid #000000;
} */


.modal-field:focus-visible {
  outline: 2px solid #000;
}


.field-group {
  display: flex;
  margin-bottom: 11px;
}

.modal-labeladults {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin: 10px 45px 0 0;
  padding: 0;
}

.modal-labelchildren {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin: 10px 83px 0 89px;
  padding: 0;
}

.modal-group-container {
  display: flex;
  width: 110px;
  margin: 0 0 35px;
}

.modal-square {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000;
  margin: 0;
  padding: 14px 10px;
  width: 31px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
}

.modal-square::-webkit-outer-spin-button, .modal-square::-webkit-inner-spin-button {
  appearance: none;
}

.modal-square:last-child {
  margin: 0;
}

.modal-counter {
  width: 40px;
  height: 48px;
  display: block;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
  background-position:  center center;
  background-repeat: no-repeat;
}

.modal-minus  {
  background-image: url("../images/main/button-minus.svg");
}

.modal-plus {
  background-image: url("../images/main/button-plus.svg");
}

.modal-minus:hover {
  background-image: url("../images/main/button-minusdark.svg");
  background-repeat: no-repeat;
  background-position:  center center;
}

.modal-plus:hover {
  background-image: url("../images/main/button-plusdark.svg");
  background-repeat: no-repeat;
  background-position:  center center;
}

.modal-minus:focus {
  background-image: url("../images/main/button-minusdark.svg");
  background-repeat: no-repeat;
  background-position:  center center;
  border: 3px solid #82B3D3;
  border-radius: 4px;
  outline: none;
}

.modal-plus:focus {
  background-image: url("../images/main/button-plusdark.svg");
  background-repeat: no-repeat;
  background-position:  center center;
  border: 3px solid #82B3D3;
  border-radius: 4px;
  outline: none;
}

.modal-plus:active {
  background-image: url("../images/main/button-plus.svg");
  background-repeat: no-repeat;
  background-position:  center center;
  border: none;
  outline: none;
}

.modal-minus:active {
  background-image: url("../images/main/button-minus.svg");
  background-repeat: no-repeat;
  background-position:  center center;
  border: none;
  outline: none;
}

.modal-minus:disabled, .modal-plus:disabled {
  background-color: #E5E5E5;
  border-color: #E5E5E5;
}

.modal-button {
  text-align: center;
  color: #fff;
  background-color: #82B3D3;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 18px 50px;
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #68A2CA;
}

.modal-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.modal-button:active {
  color: rgb(255 255 255 / 30%);
}

.modal-button:disabled {
  background-color: #E5E5E5;
  border-color: #E5E5E5;
}

/* Tooltip */
.tooltip {
  position: absolute;
  margin-top: 9px;
  margin-left: 392px;
  width: 256px;
  height: 143px;
}

.tooltip-toggle {
  margin: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  display: block;
  cursor: pointer;
  z-index: 2;
}

.tooltip-icon {
  fill: #83B3D3;
}

.tooltip-toggle:hover .tooltip-icon {
  fill: #3F5E72;
}

.tooltip-text {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 19px 20px 23px 21px;
  border-radius: 10px;
  width: 216px;
  position: absolute;
  top: 30%;
  margin-top: 0;
  left: 5%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-text::before {
  position: absolute;
  top: -15px;
  left: 119px;
  content: url("../images/main/tooltip-triangle.svg");
  width: 9px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center 0;
  margin: 0 auto;
  padding: 0;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}



.modal-container-open {
  display: flex;
}
